.sub-nav {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
}

:global(.button).subnav-button {
    border-radius: 0;
    border-bottom: 0;
    border-top: 0;
}

:global(.button).omit-right-border {
    border-right: none;
}